
PAGEINDEX_API_KEY_1=your_first_key
PAGEINDEX_API_KEY_2=your_second_key
PAGEINDEX_API_KEY_3=your_third_key


HF_TOKEN=hf_your_free_token_here

HF_RETRIEVAL_MODEL=meta-llama/Llama-3.1-8B-Instruct

HF_CHAT_MODEL=Qwen/Qwen2.5-72B-Instruct